@import "tailwindcss";







/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/



.theme-sub-heading{
font-family: var(--font-ibm), sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 43.2px */
letter-spacing: -1.44px;
}
.theme-peregraph{
font-family: var(--font-ibm), sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: -0.16px;
}


span.below-btn {
    position: absolute;
    left: 9px;
    bottom: -29px;
    width: 100%;
}
body {
  font-family: var(--font-ibm), sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.container-sm{
  max-width: 1120px;
  margin: auto
}

.container-lg {
  max-width: 1280px;
  margin: auto
}

.primary-btn {
  border-radius: 4px;
  background: #EAE6DC;
  display: flex;
  height: 44px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-left: 26px;
}

button.secondary-btn {
  border-radius: 4px;
  background: #FACD2D;
  color: #161616;
  font-family: var(--font-ibm), sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 24px;
}

button.third-btn {
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  background: #FFFEFB;
  display: flex;
  height: 40px;
  padding: 0px 24px;
  align-items: center;
  gap: 14px;
  color: #21211F;
  font-family: var(--font-ibm), sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 166.667% */
}

button.fourth-btn {
  border-radius: 4px;
  background: #161616;
  color: #fff;
  font-family: var(--font-ibm), sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 24px;
}
.inner-box-automate {
    border-radius: 8px;
    background: #363947;
    padding: 60px 30px 40px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.automate {
    color: #969BA6;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

button,a {
    cursor: pointer;
}

/**** About Css ****/

.top-tag-section, .middle-section-inner h1, .middle-bottom-btn-left button, .middle-bottom-btn-left p, .middle-bottom-btn-right button,
.founders-stories-title h2, .our-values-title h2, .leading-investors-title h2, .middle-section-inner p.hero-sub-descripation, 
.founders-stories-title p, .our-values-title p, .leading-investors-title p, .our-values-content h3, .our-values-content p, .schedule-personalized-inner h2 {
    font-family: var(--font-ibm), sans-serif;
}
.bottom-section img {
    box-shadow: 0px 0px 0px 1px rgba(3, 7, 18, 0.08), 0px 1px 2px -1px rgba(3, 7, 18, 0.08);
}
.testimonialSwiper .swiper-button-next {
    border: 1px solid #c6c6c6;
    border-radius: 0 4px 4px 0px;
    width: 99px;
    height: 99px;
    right: 0;
    transform: rotate(90deg);
    top: inherit;
    bottom: 0;
    background: #fff;
}
.testimonialSwiper .swiper-button-next::after, .testimonialSwiper .swiper-button-prev:after {
    color: #6B6B6B;
    font-size: 36px;
}
.testimonialSwiper .swiper-button-prev {
    left: inherit;
    border: 1px solid #c6c6c6;
    border-right: 0;
    width: 99px;
    height: 99px;
    top: 25px;
    right: 0;
    transform: rotate(90deg);
    border-radius: 4px 0px 0 4px;
    background: #fff;
}
.testimonialSwiper .swiper-button-prev:hover, .testimonialSwiper .swiper-button-next:hover {
    background: #f0eee6;
    border-color: #f0eee6;
}
.foundersThumbsSwiper .swiper-slide-thumb-active {
    border-radius: 8px;
    background: #363947;
}
.foundersThumbsSwiper .swiper-slide-thumb-active .founders-name h3 {
    color: #FFF;
    font-weight: 600;
}
.foundersThumbsSwiper .swiper-slide-thumb-active img {
    border: 3px solid #FFF;
}
.mainSwiper .swiper-slide-active .founders-bottom-description {
    padding-top: 54px;
    padding-bottom: 54px;
    padding-left: 32px;
    padding-right: 60px;
    background: #fff;
}
.mainSwiper .swiper-slide-active .founders-bottom-description h2 {
    color: #0B0A1F;
}
.mainSwiper .swiper-slide-active .founders-bottom-description p {
    color: #666D80;
    line-height: 29px;
}
.mainSwiper .swiper-slide-active .founders-bottom-description .founders-designation h3 {
    color: #37394A;
}
.mainSwiper .swiper-slide-active .founders-bottom-description .founders-designation p {
    color: #858585;
}
.mainSwiper .swiper-wrapper {
    align-items: center;
}
/**** About Css ****/


/**** Slider Css ****/

.home-slider .swiper-wrapper {
    align-items: center !important;
}
.home-slider .swiper-slide.swiper-slide-active .bg-cover.bg-center {
    height: 340px;

}


.home-slider .swiper-slide .bg-cover.bg-center{
  border-radius: 10px;
}

/**** Slider Css ****/

.inner-hero-left {
    width: 80%;
}
 
.scroller-ps {
  direction: rtl;              
  overflow-y: auto;       
       
}

.scroller-ps > * {
  direction: ltr;            
}


.scroller-ps {
  direction: rtl;
  overflow-y: auto;
 
}


.scroller-ps > * {
  direction: ltr;
}


.scroller-ps::-webkit-scrollbar {
  width: 3px; 
}

.scroller-ps::-webkit-scrollbar-track {
  background: #BEBCB7;
}

.scroller-ps::-webkit-scrollbar-thumb {
  background-color: #FACD2D; 
  border-radius: 3px;
}
